<div id="top_header_bar">
    <img src="./icons/logoaur.png" width="124px" height="124px" style="cursor: pointer;">
    <h3>Система учета активов </br> Центрального Аппарата Ассоциации юристов России</h3>
</div>